$linkColor:  rgb(30, 19, 37);

ul li {
    display: inline;
    margin: 3px;
}

ul li a {
    text-decoration: none;
    color: $linkColor;
}

ul li:hover {
    text-decoration: underline;
}
